{% extends "layout/base.html" %}

{% load bootstrap4 %}

{% block title %}Вход{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Вы уже выполнили вход.</p>
{% else %}
<h2 class="text-left">Выполните вход в аккаунт:</h2>
<form method="post" class="form-group">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <input type='hidden' name='next' value='{{ next }}'>
        {% buttons submit='Войти' %}{% endbuttons %}
</form>
{% endif %}
{% endblock %}


{% comment %} 
Example of for loop  
{% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }} 
            {{ field }}
            {% if field.errors %}
                <small>{{ field.errors|striptags }}</small> 
            {% endif %}
        </div>
    {% endfor %} 
    
{% endcomment %}